:root {
  font-size: 16px;
  background-color: #f8fafc;
}

* {
  margin: 0;
  padding: 0;
  color: #1e293b;
  font-family: var(--font-ibm-flex-mono);
  box-sizing: border-box;
}

main {
  height: calc(100vh - 60px);
}
